{% extends "layouts/base.html" %}

{% block title %}Add User{% endblock %}

{% block content %}

<h2 class="mb-4">Add New User</h2>

<form method="POST">

<div class="mb-3">
<label class="form-label">Full Name</label>
<input type="text" name="full_name" class="form-control" required>
</div>

<div class="mb-3">
<label class="form-label">Username</label>
<input type="text" name="username" class="form-control" required>
</div>

<div class="mb-3">
<label class="form-label">Password</label>
<input type="password" name="password" class="form-control" required>
</div>

<div class="mb-3">
<label class="form-label">Email</label>
<input type="email" name="email" class="form-control">
</div>

<div class="mb-3">
<label class="form-label">Department</label>
<input type="text" name="department" class="form-control" required>
</div>

<div class="mb-3">
<label class="form-label">Role</label>

<select name="role" class="form-select">

<option>Employee</option>
<option>IT Staff</option>
<option>IT Manager</option>

</select>

</div>

<button class="btn btn-success">
Create User
</button>

<a href="/manager/users" class="btn btn-secondary">
Cancel
</a>

</form>

{% endblock %}